.categories-slider {
  position: relative;

  margin: 5rem 0;
  padding: 4rem 1rem;

  width: 100%;

  box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
/* category */
.categories {
  margin: 2rem 0;
  padding: 3rem 2rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

}

.category-item{
  display: flex;
  align-items: center;


  border-radius: 10px;

  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.05);

  background-color: #fff;

  cursor: pointer;

  transition: all .2s ease-in-out;
}
.category-item:hover{
  transform: translateY(-10px);
}

.category-item img{
  display: inline-block;
  object-fit: cover;
  width: 120px;
  height: 120px;

  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.category-item-name{
  font-weight: 600;
  font-size: 1.35rem;
  text-transform: uppercase;
  text-indent: 15px;

}

.category-item .category-more-icon{
  font-size: 2rem;
  margin-left: auto;
}

/* arrow */
/* .slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  font-size: 1.75rem;
  text-align: center;

  border-radius: 999px;

  color: #fff;

  background-color: var(--bg-color-gray);

  z-index: 2;
}
.arrow-left{
  left: 1%;
}
.arrow-right{
  right: 1%;
} */
