:root{
  /* color */
  --color-red-bold: #D70202 ;
  --color-orange-medium: #F57416;
  --color-yellow-rating: #FFC700;

  /* bg color */
  --bg-color-black: #262628;
  --bg-color-black-rgb: 31, 31, 31;

  --bg-color-gray: #C4C4C4;
}