/* ================= base ================ */
@import url('./base/_root.css');
@import url('./base/_reset.css');
@import url('./base/_typography.css');


.container{
  max-width: 1140px;
  margin: 0 auto;
}

.bg-wrapper{
  background: var(--bg-color-black) url(../assets/bg/banner.10879cd6.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;

  color: #fff;
}